    <!-- Navbar -->
    <script src="C:\Users\SYED SHAH\Desktop\Pharmacy Management System\public\index.js"></script>
    <nav class="navbar  navbar-expand-lg "  style="background-color: #e3f2fd;">
        <div class="container-fluid ">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <div class="container_fluid text-center ">
            <h1 class="display-6">P<span style="color: red;">MS</span></h1>
        </div>
            <form action="/search/{{name}}"  method="get" class="d-flex" role="search">
              <input class="form-control ml-auto" name="name" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success"  type="submit">Search</button>
            </form>
        
        </div>
      </nav>


